* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --green: #C4E538;
  --lighter-gray: #F5F6FA;
  --light-gray: #D8D8D8;
  --dark-gray: #989898;
  --darker-gray: #5D5D5D;

  --heading: 4em;
  --sub-heading: 1.6em;
  --caption: 3em;
  --title: 2.5em;
}

body {
  font-family: 'Helvetica';
  font-size: 16px;
}

.beta {
  background-color: yellow;
  color: #000;
  padding: 10px;
  text-align: center;
}


/*NAVBAR*/

.navbar {
  background-color: var(--black);
  color: var(--white);

  display: flex;
  padding: 1em;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--green);
}

/*HERO*/

.hero {
  background-color: var(--black);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 60vh;
}

.hero .heading {
  font-size: var(--heading);
  font-weight: bold;

  margin-bottom: 0.2em;
}

.hero .sub-heading {
  color: var(--dark-gray);

  font-size: var(--sub-heading);
  font-weight: lighter;
}

.hero .btn {
  background-color: var(--green);
  color: var(--black);

  font-size: 1.5em;

  margin-top: 3em;
  padding: 0.5em 1em;
  border-radius: 0.1em;
}

.hero .btn:hover {
  color: var(--white);
  cursor: pointer;
}


/*ILLUSTRATION*/

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 4em 0 4em;
}

.illustration p {
  color: var(--darker-gray);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: var(--caption);
  line-height: 1.5em;
}

.illustration img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
  height: 35em;
}


/*SKILLS OVERVIEW*/

.skills-overview {
  background-color: var(--lighter-gray);
  color: var(--darker-gray);

  display: flex;
  align-items: center;  
  flex-direction: column;

  padding: 2em 4em;
}

.skills-overview .title {
  margin-top: 5em;
}



.cards {
  display: flex;
  margin: 10em;
}

.skill-card {
  padding: 0 0 15em 0;  
  margin: 3em 2em;
  width: 20em;
  border-radius: 0.3em;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-icon {
  background-color: var(--green);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.25);  

  margin-top: -3em;
  margin-bottom: 3em;
  padding: 2em;
  border-radius: 50%;
}

.card-icon img {
  height: 2em;
}




/*PROJECTS*/

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  margin: 6em 4em -2em 4em;
}

.project-selector {
  font-size: 1.5em;
  margin: 2em 0 0 0;
  display: flex;
}

.project-selector ul {
  margin-left: auto;
  display: flex;
  list-style: none;
}

.project-selector li {
  margin: 1em;
}

.project-selector li:hover {
  cursor: pointer;
}


.selector.active {
  font-weight: bold;
  border-bottom: 4px solid var(--green);
}

.projects-area {
  background-color: var(--green);
  
  height: 50vh;
  padding: 10em 20em;
}

.work-projects{
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-projects .card {
  margin: 1em;
}

.work-projects .mta {

}


/*FOOTER*/

footer {
  background-color: var(--black);
  color: var(--white);
  height: 10vh;
}

/*RE-USABLE CLASSES*/
.title {
  font-size: var(--title);
  font-weight: bold;
}

.underline {
  background-color: var(--light-gray);

  height: 3px;
  width: 20em;
  margin: 2em 0;
}

.description {
  font-weight: lighter;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.card {
  background-color: var(--white);
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.25);
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-body {

}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #d8ed78;
outline: 2px solid slategrey;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
  1280-1024   - desktop (default grid)
  1024-768    - tablet landscape
  768-480     - tablet 
  480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { 
  body{
    font-size: 10px;
  }



  .illustration .caption {
    text-align: center;
    margin: 4em 1em;
  }

  .illustration img {
    height: 20em;
    margin-bottom: -30px;
  }

  .cards, .illustration {
    flex-direction: column;
  }
}